<div>
  <div class="header_photo">
    <img src="" alt="photo">
  </div>

  <div class="header_menu">
    <div class="menu_logo">
      <a href="#">
        <img src="" alt="logo">
      </a>
    </div>

    <nav>
      <ul>
        <li>
          <a href="#">Movies</a>
        </li>

        <li>
          <a href="#">Serials</a>
        </li>

        <li>
          <a href="#">Books</a>
        </li>

        <li>
          <a href="#">Travel</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
