<form class="registration-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Login">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="password" matInput placeholder="Repeat your Password">
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <input type="email" matInput placeholder="Email">
  </mat-form-field>

  <a mat-button routerLink="/news/page/1" (click)="registrateUser()">Registrate</a>
</form>
